{% extends "layout.html" %}

{% set active_page = "Summary" %}

{% block title %}Summary{% endblock %}

{% block content %}
<div class="row">
	<div class="p-3 background">
		<form action={{ url_for("submitCampaignInput") }} method="POST">
			<label for="Submit" class="small-text">Party Location:</label><br>
			<input type="text" name="partyLocInp"><br>
			<label for="Submit" class="small-text">Party Items:</label><br>
			<input type="text" name="partyItemInp"><br>
			<button type="submit" class="btn btn-primary">Submit Update</button>
		</form> 
	</div>
</div>
{% endblock %}