{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}page2{% endblock %}

{% block content %}
{% if current_party != None%}
 <h1 class="background">Chat with your party:</h1>

 <ul id="list" class="background container-fluid">
    {{ message_display }}
 </ul>


	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		const socket = io({
			reconnection: true,
			reconnectionDelay: 1000,
			reconnectionDelayMax: 5000,
			reconnectionAttempts: 3,
			transports: ['websocket']
		});
		socket.on('connect', function() {
			socket.emit('join', {});
			console.log("JOINED SERVER");
		});
		
		socket.on('disconnect', function() {
			socket.emit('leave', {});
			console.log("LEFT SERVER");
		});
		
		 socket.on('message', function(data) {
			$('#list').append("<li>" + data + "</li>");
			console.log("NEW MESSAGE");
         });
    });
</script>

<form action={{ url_for("submitMessage") }} method="POST" class="ms-4 input">
  <input type="text" name="messageBody" id="mes">
  <input type="submit" class="submit" value="Submit" id="send" class="input">
</form>
{%else%}
	<h1>Please join a party.</h1>
{%endif%}
{% endblock %}
